body{
    background-color: lightgray;
}
header{
    margin-top: -200px;
    width: 1505px;
    border-style: solid;
    background-color: darkgoldenrod;
    text-align: center;
    position: fixed;
}
nav{
    width: 1495px;
    position: fixed;
    padding: 5px;
    border-style: solid;
    margin-top: -115px;
    font-size: x-large;
    background-color: beige;
}


article{
    background-color: burlywood;
    height: 1150px;
    border-style: solid;
    margin-top: 200px;
    margin-right: 500px;
    border-radius: 20px;
}

section {
    background-color: bisque;
    border-style: solid;
    margin-top: 30px;
    border-radius: 10px;
    margin-left: 15px;
    margin-right: 20px;
    font-size: x-large;
}
aside{
    background-color: burlywood;
    height: 1153px;
    padding-left: 15px;
    padding-right: 15px;
    border-style: solid;
    margin-left:  1060px;
    border-radius: 20px;
    margin-top: -1155px;
    font-size: x-large;
    text-align: justify;
}

footer{
    padding: 25px;
    text-align: center;
    font-size: larger;
}